{% extends "base.html.twig" %}

{% block title %}
	Papajoueur - 403 authorization error
{% endblock %}

{% block body %}
	<section class="unauthorization-section">
		<div class="unauthorized-message-container">
			<h1 class="unauthorization-title"></h1>
			<p class="unauthorized-text">Désolé, vous n'êtes pas autorisé à visiter cette page</p>
		</div>
	</section>
{% endblock %}
