{% extends "base.html.twig" %}

{% block title %}
	Papajoueur - Admin
{% endblock %}

{% block body %}
	<section class="dashboard-home-section">
		<h1 class="admin-home-section-title">bienvenue sur l'espace administrateur</h1>
	</section>
{% endblock %}
