{% extends "base.html.twig" %}

{% block title %}
	Papajoueur - Mot de passe oublié
{% endblock %}

{% block body %}
	<section class="forgotten-pass-section">
		<div class="forgotten-password-form-container">
			<h1 class="forgotten-pass-form-title">Mot de passe oublié</h1>
			{% if error %}
				<div class="mail-not-found-error">Utilisateur inconnu</div>
			{% endif %}
			<form method="post" class="forgotten-password-form">
				<div class='forgotten-password-form-row'>
					<label for="email" class="forgotten-password-email-label">Adresse mail</label>
					<input id='email' name='email' type="email" class="forgotten-password-form-input" placeholder='Adresse ayant servi à créer votre compte'>
				</div>
				<input type="hidden" name="forgotten_token" value="{{csrf_token('forgotten-password-token')}}">
				<button class="forgotten-password-submit">envoyer</button>
			</form>
		</div>
	</section>
{% endblock %}
