{% extends "base.html.twig" %}

{% block title %}
	Papajoueur - Réinitialiser le mot de passe
{% endblock %}

{% block body %}
	<section class="reset-password-section">
		<div class="reset-password-form-container">
			<h1 class='reset-password-form-title'>Modifier le mot de passe</h1>
			{% if errors is defined and errors is not empty %}
				<div class="reset-pass-error">
					{% for error in errors %}
						{{error.message}}
					{% endfor %}
				</div>
			{% endif %}
			<form method="post" action="{{path('app_reset_password', {userId: user.id, token: token})}}" class="reset-password-form">
				<div class="reset-password-row">
					<label for="password" class="reset-password-label">Nouveau mot de passe</label>
					<input type="password" name="password" id="password" class="reset-password-password-input" placeholder="Nouveau mot de passe">
				</div>
				<div class="reset-password-row">
					<label for="confirm-password" class="reset-confirm-password-label">Confirmation du mot de passe</label>
					<input type="password" name="confirm-password" id="confirm-password" class="reset-password-confirm-password-input" placeholder="Confirme le nouveau mot de passe">
				</div>
				<input type="hidden" name="reset_token" value="{{csrf_token('reset-pass-token')}}">
				<button type="submit" class="reset-password-submit">réinitialiser</button>
			</form>
		</div>
	</section>
{% endblock %}
