<h1>Bonjour
	{{user.email}}</h1>

<p>Cliques sur le lien ci-dessous (valable 15 minutes) pour réinitialiser ton mot de passe</p>

<a target="_blank" rel="noopener noreferrer" href="https://localhost:8000/reset_password/{{user.id}}/{{user.token}}">
	<button>Réinitialiser</button>
</a>
