.avatar-change-section {
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.avatar-change-section-title {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.avatar-form {
  width: 400px;
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-evenly;
  transform: translateY(-50%);
  align-items: center;
  background-color: rgba(36, 118, 255, 0.5);
  border-radius: 5px;
}

.avatar-change-input {
  display: flex;
  height: 25px;
  justify-content: center;
  align-items: center;
}