.one-review-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-header {
  width: 1200px;
  height: 600px;
  margin: 0;
  padding: 0;
  position: relative;
}

.review-header-image {
  width: 100%;
  min-width: 100%;
  height: 100%;
  max-height: 100%;
}

.show-review-summary {
  width: 400px;
  height: 250px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 150px;
  right: 50px;
  font-size: 0.9em;
  padding-left: 10px;
  padding-right: 10px;
}

.show-review-summary-title {
  text-align: center;
}

.show-review-summary-smiley {
  position: absolute;
  right: -48px;
  top: -48px;
}

.show-review-title {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-container {
  margin-top: 10px;
  width: 1200px;
  display: flex;
}

.review-content {
  width: 850px;
  padding-right: 25px;
}

.youtube-player,
.review-text {
  width: 100%;
}

.youtube-player {
  height: 400px;
}

.game-information {
  width: 350px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f1f2f6;
  font-size: 0.9em;
}

.aside-game-title {
  text-align: center;
  text-transform: uppercase
}

.game-info-subtitle {
  text-transform: capitalize;
}

.platforms-container,
.genres-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.badge {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 5px;
  margin-right: 5px;
  margin-top: 5px;
  height: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}

.badge-platform {
  background-color: #2476ff;
}

.badge-genre {
  background-color: #0cb04a;
}

.review-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.review-bottom-good-container,
.review-bottom-bad-container {
  display: flex;
  flex-direction: column;
  width: 48%;
  height: 380px;
  border-radius: 5px;
  background-color: rgba(36, 118, 255, 0.4);
}

.review-bottom-good>ul>li::marker,
.review-bottom-bad>ul>li::marker {
  font-size: 1.5em;
}

.review-bottom-good>ul>li::marker,
.review-good-smile {
  color: #0cb04a
}

.review-bottom-bad>ul>li::marker,
.review-good-angry {
  color: #ff312a
}

.review-good-angry,
.review-good-smile {
  font-size: 4em;
  align-self: center;
  margin-top: 10px;
}


.review-bottom-good>ul>li,
.review-bottom-bad>ul>li {
  margin-bottom: 5px
}

.comment-section {
  width: 1200px;
  margin-top: 25px;
}

.comment-section-title {
  display: flex;
  justify-content: center;
}

.connect-to-comment-message {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(20, 42, 59, 0.8);
  color: white;
  font-weight: bold;
}

.comment-wrapper {
  margin-bottom: 25px;
  padding: 10px;
  border-radius: 5px;
  /* background-color: rgba(12, 176, 74, 0.8); */
  background-color: rgb(36, 118, 255, 1);
}

.comment-header,
.comment-metadata {
  display: flex;
}

.comment-metadata {
  flex-direction: column;
  justify-content: center;
}

.comment-author,
.comment-date {
  color: white;
  font-weight: bold;
  font-size: 0.9em;
}

.comment-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-footer,
.comment-likes,
.comment-dislikes {
  display: flex;
}

.comment-footer,
.comment-content {
  margin-top: 10px;
}

.comment-footer {
  width: 100px;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.comment-likes,
.comment-dislikes {
  width: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-likes:hover,
.comment-dislikes:hover {
  cursor: pointer;
}

.comment-form {
  width: 100%;
  height: 80px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 20px;
  background-color: rgba(20, 42, 59, 0.8);
}

.comment-row {
  height: 100%;
  width: 85%;
  display: flex;
  align-items: center;
}

.comment-label,
.comment-input,
.comment-form-submit {
  height: 40%
}

.comment-label {
  width: 20%;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
}

.comment-input {
  resize: none;
  width: 80%;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;

}

.comment-form-submit {
  width: 10%;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  outline: none;
  border: 0;
}

.comment-form-submit:hover {
  cursor: pointer;
}