{% extends "base.html.twig" %}

{% block title %}
	Papajoueur - Accueil
{% endblock %}

{% block body %}
	<section class="home-section">
		<header class="home-section-header">
			<h1>PAPAJOUEUR</h1>
			<p>Le blog d'un papa joueur qui n'a plus le temps... de jouer</p>
		</header>
		<h2>Les derniers posts</h2>
		<div class="home-section-main-container">
			<main class="home-section-main">
				{% for review in reviews %}
					{% include "shared/__review-card.html.twig" with {'review' : review} %}
				{% endfor %}
			</main>
			<aside class="home-section-aside">
				<h3 class='home-aside-title'>Abobut me</h3>
				<img class='aside-avatar-image' src="images/gamer_avatar.jpg" alt="avatar_admin">
				<div class="aside-introduction">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, velit voluptatibus atque dolores facilis fugit inventore accusamus porro perferendis quis sequi sed quidem, numquam necessitatibus exercitationem non nesciunt repellendus, est sunt modi alias. Minima, nostrum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore accusamus commodi voluptas vero! Error, aliquam?
				</div>
			</aside>
		</div>
	</section>
{% endblock %}
