<footer class="footer-section">
	<p>Footer ici</p>
	<a target="_blank" href="https://icons8.com/icon/110293/smiling">smile</a>
	icon by
	<a target="_blank" href="https://icons8.com">Icons8</a>
</footer>
