<footer class="footer-section">
	<div class="footer-container">
		<div class="footer-about">
			<a class="footer-title-link" href="{{ path('app_home') }}">PAPAJOUEUR.FR</a>
			<p class="footer-about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero exercitationem, fugiat itaque aspernatur voluptatem maiores enim illum omnis sapiente ipsa id nam eligendi doloremque culpa quae beatae. Omnis velit eius ullam corporis vel soluta maxime doloremque sed a, praesentium expedita tempora, maiores, ut voluptatibus ipsa quos nisi perspiciatis quam accusantium?</p>
		</div>
		<div class="footer-links-wrapper">
			<a href="#" class="footer-link">Contact</a>
			<span class="footer-separator">|</span>
			<a href="#" class="footer-link">Mentions légales</a>
			<span class="footer-separator">|</span>
			<a href="#" class="footer-link">Politique de confidentialité</a>
			<span class="footer-separator">|</span>
			<div class="footer-network">
				<span>Retrouvez-moi sur les réseaux</span>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<i class="fa-solid fa-copyright"></i>
		2023 Papajoueur. Tous droits réservés.
	</div>
</footer>
