<nav id="navbar" class='navbar'>
	<div class="navbar-container">
		<a class='nav-logo-link' href="#">
			<img class="navbar-image" src="/images/gamepad_black.png" alt="gamepad icon">
		</a>
		<div class="nav-items-container">
			<div class="nav-item">
				<i class="fa-solid fa-pen"></i>
				<span>reviews</span>
			</div>
			<div class="nav-item">
				<i class="fa-solid fa-video"></i>
				<span>videos</span>
			</div>
			<div class="nav-item nav-item-login">
				<i class="fa-solid fa-user"></i>
				<span>se connecter</span>
			</div>
		</div>
	</div>
</nav>
